/*Constatnts*/
*{
    margin: 0;
    padding: 0;
}

/*David Start*/
nav{
margin: 10px;
}
header{
    background: rgba(100, 100, 100, .6);
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(100, 100, 100, .4));*/
    overflow: hidden;
    max-height: 60px;
}#Header_icon{
    float: left;
    padding: 10px;
}#header_icon img{
    height: 55px;
    width: 55px;
}
#Grupp_Name{
    text-align: center;
    color: white;
    padding: 10px;
    float: right;
    margin-top: -5px;
}#Mainmenu{
    list-style: none;
}#Mainmenu>li{
    float: left;
    margin-top: 10px;
}#Mainmenu>li a{
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    margin-left: 10px;
    text-decoration: none;
}
#Mainmenu>li a:hover{
    background: rgba(0, 0, 0, 0.4);
}
/*David End*/
/*Nu jävlar blir det flygplan*/
/*Gunnar Start*/
body {
    background-image: linear-gradient(-45deg, #0d740d , #000000, #0d740d);
   }
.container0 {
    width: 760px;
    height: 150px;
    margin: auto;
    font-size: 18px;
    color: white;
    padding-left: 0;
    margin-bottom: 00px;
}

.container0 p {
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
    border: double 8px;
    border-color: rgb(255, 255, 255);
}

.container1,.container2{
    width: 760px;
    height:530px;
    display: flex;
    margin: auto;
    border-left: white 1px solid;
    border-right: white 1px solid;

}
.container1 {
    border-top: white 1px solid;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box1,.box2,.box3,.box4 {
    flex: 1;
}
.namn1,.namn2,.namn3,.namn4 {

    padding: 10px 0px 0px 10px;
}
.box2 {
    background-color: rgba(2, 75, 2, .85);
    color: white;
    border-top-right-radius: 10px;
}
.box4 {
    background-color: rgba(0, 0, 0, .85);
    color: white;
}    
.box3 {
    background-color: rgba(221, 221, 221, .85);
}
.box1 {
    background-color: rgba(128, 128, 128, .85);
    border-top-left-radius: 10px;
}
/*Bildinställningar*/
.bild1 img,.bild2 img,.bild3 img,.bild4 img {
    width: 300px;
    height: 450px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: white 1px solid;
}
/*This is gonna be nice!*/
/*Gunnar End*/
/* Footer */

footer {
    border-top: 1px solid #fff;
    background: black;
    color: white;
    margin: 0px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 350px;
}

.foot1 figure img {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    
}

.foot2 figure img {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
}

.foot3 figure img {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
}

.foot4 figure img {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    
}
figure {
    padding: 0px;
    margin: 0px;
}
.material-icons {
    position: relative;
    top:7px;
    margin-right:5px;

}
